<header>
  <ul id="account-dropdown" class="dropdown-content">
    <% if (title === "Reports") { %>
    <li><a href="#" class="blue-text">Change Email</a></li>
    <li><a href="#" data-constrainwidth="false" class="blue-text">Change Password</a></li>
    <li><a href="#" class="blue-text">Delete Account</a></li>
    <li class="divider"></li>
    <li><a class="blue-text" id='<%= navLinkId %>' href='/<%= navLinkRoute %>'><%= navLinkText%></a></li>
    
    <% } else { %>
    
    <li><a href="#" class="green-text">Change Email</a></li>
    <li><a href="#" class="green-text">Change Password</a></li>
    <li><a href="#" class="green-text">Delete Account</a></li>
    <li class="divider"></li>
    <li><a class="green-text" id='<%= navLinkId %>' href='/<%= navLinkRoute %>'><%= navLinkText%></a></li>
    <% } %>
  </ul>
  
  <% if (title === "Reports") { %>
  <nav class="blue">
  <% } else { %>
  <nav class="green">
  <% } %>
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo hide-on-med-and-down">
        <i class="material-icons">local_dining</i>My Food Choices
      </a>
      <a href='/' class="brand-logo hide-on-large-only">
          <i class="material-icons">local_dining</i>MFC
      </a>
      <a href='/' data-target="mobile-nav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
        
      <ul class="right hide-on-med-and-down">
      <% if (title === "Profile" || title === "Reports" || title === "Favorites") { %>
        <li>Welcome, <%= first_name %></li>
        <li><a id="profile-dropdown" class="dropdown-trigger" href="#!" data-target="account-dropdown"><i class="material-icons right">person</i></a></li>
      <% } else { %>
        <li><a id='<%= navLinkId %>' href='/<%= navLinkRoute %>'><%= navLinkText%></a></li>
      <% } %>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-nav">
    <% if (title === "Profile" || title === "Reports" || title === "Favorites") { %>
    <li><a>Welcome, <%= first_name %></a></li>
    <li class="divider"></li>
    <li><a href="">Change Email</a></li>
    <li><a href="">Change Password</a></li>
    <li><a href="">Delete Account</a></li>
    <li class="divider"></li>
    <% } %>
    <li><a id='<%= burgerNavLinkId %>' href='/<%= navLinkRoute %>'><%= navLinkText%></a></li>
  </ul>
</header>
