<header>
  <nav class="green">
    <div class="container nav-wrapper">
      <a href="#" class="brand-logo hide-on-med-and-down">
        <i class="material-icons">local_dining</i>My Food Choices</a
      >
      <a href="#" class="brand-logo hide-on-large-only">
        <i class="material-icons">local_dining</i>MFC</a
      >
      <a href="#" data-target="mobile-nav" class="sidenav-trigger">
        <i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <% if (title === "Profile" || title === "Reports") { %>
          <li>Welcome, first_name</li>
          <% } %>
        <li><a id='<%= navLinkId %>' href='/<%= navLinkRoute %>'><%= navLinkText%></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-nav">
    <% if (title === "Profile" || title === "Reports") { %>
      <li><a>Welcome, first_name</a></li>
      <% } %>
    <li><a id='<%= burgerNavLinkId %>' href='/<%= navLinkRoute %>'><%= navLinkText%></a></li>
  </ul>
</header>
